@use "../abstracts/variables" as *;

.button {
  width: 100%;
  padding: 0.75em;
  border: none;
  background: $color-primary;
  color: $color-app-bg;
  font-size: 1.1em;
  font-weight: bold;
  cursor: pointer;
  margin-top: 1em;
  transition: background 0.2s;
  font-family: $font-family-normal;
  text-transform: uppercase;

  &:hover {
    background: darken($color-primary, 7%);
  }
}
