// Colors
$color-body-bg: #0a0a0f;
$color-app-bg: #23232b;
$color-primary: #c6ff00;
$color-font: #f8f9fa;

// Font families
$font-family-main: "Space Mono", monospace;
$font-family-normal: "Arial", sans-serif;
