@use "../abstracts/variables" as *;

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family-normal;
  color: $color-font;
  margin-bottom: 0.5em;
  font-weight: 700;
}

h1 {
  font-size: 1.5rem;
  letter-spacing: 0.05em;
  opacity: 0.4;
}

label {
  font-size: 1em;
  color: $color-font;
}

strong {
  color: $color-primary;
}

small {
  font-size: 0.95em;
  color: $color-font;
  opacity: 0.8;
}
